[submodule "exchange-processing-service"]
	path = exchange-processing-service
	url = https://github.com/ExToozy/exchange-processing-service
[submodule "currency-rate-service"]
	path = currency-rate-service
	url = https://github.com/ExToozy/currency-rate-service
[submodule "eureka-service"]
	path = eureka-service
	url = https://github.com/ExToozy/eureka-service
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/ExToozy/gateway-service
